* {
	box-sizing: border-box;
}

img {
	max-width: 80%;
	display: block;
	margin:auto auto;
}

html {
	margin: 0;
	padding: 0;
	
	font: 110% "EB Garamond SemiBold", "Microsoft YaHei", "san-serif";
}

body {
	font-size: 100%;
	color: #333;
	line-height: 1.6;
	text-align: justify;
	margin: 0;
	padding: 0;
}

header {
	font-size: 130%;
	padding-top: 2%;
	padding-bottom: 2%;
	background: linear-gradient(90deg, #ffc186 0%, #ffdcb8 20%, #ffeebb 60%, #fdffbc 90%);
	text-align: center;
	box-shadow: 0 15px 15px -15px #ebe0d6;
}

header > p {
	color: #e08f62;
	opacity: 70%;
}

article {
	margin: 4% 5.5% 5% 5.5%;
}

span.Problem-Tag {
	color: #fdcb99;
	margin-right: 10px;
}

div > h4, h5, pre, p {
	margin-left: 50px;
	margin-right: 50px;
}

p {
	white-space: pre-line;
}

div > span:nth-child(2) {
	margin-left: 50px;
}

/* Typography
-------------------------------------------------------- */

h1 {
	margin-top: 0;
	font-weight: normal;
	font-size: 180%;
	font-style: bold;
}

h2 {
	font-weight: normal;
	font-size: 160%;
	font-style: bold;
}

h2.Sub-Category {
	color: #965c3b;
}

h3 {
	font-weight: normal;
	font-style: italic;
	font-size: 145%;
	margin-bottom: 5px;
}

h4 {
	font-size: 120%;
	margin-top:0.2em;
	margin-bottom:0.3em;
}

h5 {
	margin-top:0em;
	margin-bottom:0.2em;
	font-size: 110%;
	font-style: bold;
}

ul {
	list-style: square;
	padding-left:1.2em;
	margin-bottom: 1em;
}

ol {
	padding-left:1.2em;
}

blockquote {
	position: relative;
	left: 1%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	border-left: 2px solid rgb(206, 206, 206);
	background-color: rgb(245, 245, 245);
}

pre {
	padding-top: 1%;
	padding-bottom: 1%;
	font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
	background-color:  rgba(222,222,222,0.3);
	border: none;
	border-radius:10px;
	max-width: 80%;
}

code {
	font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
	background-color:  rgba(222,222,222,0.3);
	padding: 0px 2px 0px 2px;
	border-radius:3px;
}

a {
	color: #e08f62;
	text-decoration: none;
}
a:hover {
	color: #ffc186;
	text-decoration: underline;
}

a.button{
       display:inline-block;
       padding:0.35em 1.2em;
       border:0.1em solid #FFFFFF;
       margin:0 0.3em 0.3em 0;
       border-radius:0.12em;
       box-sizing: border-box;
       text-decoration:none;
       font-weight:300;
       text-align:center;
       transition: all 0.2s;
}

a.button:hover{
       background-color:rgba(255, 255, 255, 0.2);
}
